body {
    padding: 0px;
    margin: 0px;
    color: #303030;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 950px;
    margin: 0px auto;
}

header{
    text-align: center;
}

.header-logo{
    margin: 0px auto;
    padding-top: 22px;
}

header h1{
    text-transform: uppercase;
    margin-block-start: 27px;
    margin-block-end: 0px;
    font-size: 28pt;
}

header h2{
    text-transform: capitalize;
    margin-block-start: 4px;
    font-size: 16pt;
}

.course{
    text-align: center;
    padding: 0px 0px;
    margin: 0px auto;
    max-width: 65.6%;
}

.course h2{
    margin: 45px 0px 0px;
    font-size: 24pt;
    color: #003399;
}

.course h3{
    margin: 0px 0px 0px;
    font-size: 26pt;
    color: #003399;
}

.course>p{
    margin: 0px 0px 0px;
    font-size: 20pt;
    color: #898989;
}

video{
    width: 100%;
    /* height: 98%; */
    object-fit: fill;
}

.video-frame{
    margin: 26px 0px 0px 0px;
}

.form-subscribe{
    margin: 0px auto;
    background-color: #989898;
    max-width: 623px;}

.form-input{
    width: 90%;
    height: 52pt;
    font-size: 24pt;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
    border: 0px;
}

.form-pers{
    margin: 21px 0px 11px 20px;
    text-align: left;
}

.checkbox{
    vertical-align: middle;
    width: 37px;
    height: 37px;
    margin: 0px 18px 0px 0px;
}

.lable-agree{
    color: white;
    font-size: 14pt;
}

.form-submit{
    width: 100%;
    height: 164px;
    border: 0;
    background-color: #003399;
    color: white;
    font-size: 24pt;
    padding: 0px;
}

.form-submit-first{
    font-size: 31pt;
    line-height: 90%;
    margin: 8px 0px 0px 0px;
}

.form-submit-second{
    font-size: 23pt;
    margin: 0px 0px 0px 0px;
}

.form-submit-last{
    font-size: 18pt;
    margin: 4px 0px 0px 0px;
}

.main-content{
    margin: 46px 0px 0px 0px;
}

.main-content h2{
    margin: 7px 0px 0px;
    font-size: 23pt;
    color: #003399;
    text-align: center;}

.main-content p{
    margin: 3px 0px 0px 0px;
    font-size: 23pt;
    color: #989898;
    line-height: 156%;
    text-align: justify;}

.images_1{
    text-align: center;
    margin: 43px 0px 0px 0px;
}    
    
.images_2{
    text-align: center;
    margin: 40px 0px 0px 0px;
}
    
.images_3{
	justify-content: space-between;
	flex-direction: row;
    display: flex;
    margin: 27px 0px 0px 0px;
}

.caption{
    font-size: 15pt;
    font-weight: bold;
    color: #989898;
    text-align: center;
    margin: 9px 0px 0px 0px;
}

#main-content-two{
    margin: 108px 0px 0px 0px;
}

.social{
	justify-content: center;
	flex-direction: row;
    display: flex;
    margin: 44px 0px 0px 0px;
}

footer{
    background-color: #898989;
    padding: 10px 0px 29px 0px;
    margin: 26px 0px 0px 0px;
}

footer p{
    text-align: center;
}

footer a{
    font-size: 20pt;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.copyright{
    font-size: 15pt;
    text-align: center;
    color: white;
}